<mat-toolbar>
    <!--   <i class="material-icons md-18 menuHelp blink">
        info
    </i>-->
    <button mat-button [matMenuTriggerFor]="menu" class="menu">
        <i class="material-icons">
            menu
        </i>
    </button>
    <span class="toolbar"></span>


    <button mat-button [matMenuTriggerFor]="account" class="account" matBadge="8" matBadgePosition="before" matBadgeColor="accent">

        <i class="material-icons">
            account_circle
        </i>
        <h3> {{user?.userName}}</h3>
    </button>


    <mat-menu #menu="matMenu">
        <button *ngIf="hasWriteRights()" mat-menu-item (click)="goToCreateInstruction()">
            <i class="material-icons">
                create
            </i>
            Arbeitsanweisung hinzufügen
        </button>
        <button mat-menu-item (click)="goBack()">
            <i class="material-icons">
                home
            </i>
            Startseite
        </button>
        <button mat-menu-item (click)="showInstruction()">
            <i class="material-icons">
                live_tv
            </i>
            Beispiel ansehen
        </button>
    </mat-menu>
    <mat-menu #account="matMenu">
        <button mat-menu-item (click)="logout()">
            <i class="material-icons">
                exit_to_app
            </i>
            logout
        </button>
    </mat-menu>
</mat-toolbar>

<div *ngIf="!instructionAvailable">
    <instruction-create *ngIf="create"></instruction-create>
</div>
<app-instruction *ngIf="instructionAvailable" [user]=user></app-instruction>

<div *ngIf="!instructionAvailable">
    <div *ngIf="!create">
        <mat-card>
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <div>
                        <b class="defaultMsg">Es gibt nichts zu tun.</b>
                        <br/>
                        <div class="text-inside-grid">Die Maschine läuft gerade. Es gibt daher momentan nichts zu tun.</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="{{workingMachine}}" alt="" style="max-width:250px" />
                </mat-grid-tile>

            </mat-grid-list>
        </mat-card>
    </div>
</div>