.account{
    background-color: transparent;
    color: white;
    border: none;
}

.menu{
    background-color: transparent;
    color: white;
    border: none;
}

.toolbar {
    flex: 1 1 auto;
  }

  .mat-toolbar{
    background: #c2185b;    
  }
.material-icons.md-18 { font-size: 18px; }

.material-icons {
    vertical-align: middle;
  }

 
  .defaultMsg{
    color: #18c27e;
    text-align:left !important;
    font-size: 35px; 
  }
  mat-grid-tile{
    align-content: flex-start !important;
    justify-content: flex-start !important;
  }
  
 