.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > *{
    width: 100%;
  }

  button {
    background-color: #302f2f;
    color: white;
    border: #424242;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .removeButton{
    background-color: #8223ff;
    position: absolute;
    right: 5%;
    margin: 1;
    z-index: +1;
  }

  .addStep{
    background-color:#8223ff;
    color: white;
  }