<div [hidden]="preview">
    <mat-card>
        <h1>Neues Tutorial hinzufügen
            <button (click)="loadPreview()" mat-button>Vorschau</button>
            <button (click)="submit()" mat-button>Tutorial speichern</button>
        </h1>
        <form>
            <div class="example-container">

                <mat-form-field>
                    <input #tutorialName matInput type="text" placeholder="Tutorial Titel">
                </mat-form-field>
                <mat-form-field>
                    <textarea #tutorialDescription matInput placeholder="Kurze Beschreibung. Was ist das Ziel dieses Tutorials?"></textarea>
                </mat-form-field>
                <div *ngFor="let s of steps">
                    <tutorial-step-create #tutorialStepCreate *ngIf="s" [tutorialTitel]="getTutorialTitel()"></tutorial-step-create>
                </div>
                <button (click)="loadStepCreate()" mat-button>Neuen Arbeitsschritt hinzufügen</button>
            </div>
        </form>
    </mat-card>
</div>
<div [hidden]="!preview">
    <button (click)="closePreview()" mat-button>Vorschau schließen</button>
    <preview *ngIf="preview" [tutorialInput]="loadTutorial()"></preview>
</div>