.account{
    background-color: transparent;
    color: white;
    border: none;
}

.menu{
    background-color: transparent;
    color: white;
    border: none;
}

.toolbar {
    flex: 1 1 auto;
  }

.material-icons {
    vertical-align: middle;
  }