<mat-toolbar>
 <!--   <i class="material-icons md-18 menuHelp blink">
        info
    </i>-->
    <button mat-button [matMenuTriggerFor]="menu" class="menu">
        <i class="material-icons">
            menu
        </i>
    </button>
    <span class="toolbar"></span>


    <button mat-button [matMenuTriggerFor]="account" class="account" matBadge="8" matBadgePosition="before" matBadgeColor="accent">

        <i class="material-icons">
            account_circle
        </i>
        <h3> {{user?.userName}}</h3>
    </button>


    <mat-menu #menu="matMenu">
        <button *ngIf="hasWriteRights()" mat-menu-item (click)="goToCreateTutorial()">
            <i class="material-icons">
                create
            </i>
            Tutorial hinzufügen
        </button>
        <button mat-menu-item (click)="goBack()">
            <i class="material-icons">
                home
            </i>
            Startseite
        </button>
        <button mat-menu-item (click)="showTutorial()">
            <i class="material-icons">
                live_tv
            </i>
            Beispiel Tutorial ansehen
        </button>
    </mat-menu>
    <mat-menu #account="matMenu">
        <button mat-menu-item (click)="logout()">
            <i class="material-icons">
                exit_to_app
            </i>
            logout
        </button>
    </mat-menu>
</mat-toolbar>
<!--
<p class="speech">SitePoint Rocks!</p>-->

<div *ngIf="!tutorialAvailable">
    <tutorial-create *ngIf="create"></tutorial-create>
</div>
<app-tutorial *ngIf="tutorialAvailable" [user]=user></app-tutorial>

<div *ngIf="!tutorialAvailable">
    <div *ngIf="!create">
        <mat-card>
            <h1>Die Maschine arbeitet. Es kann daher momentan kein Tutorial durgeführt werden.</h1>
        </mat-card>
    </div>
</div>