<div>
    <mat-card>
      <h2>{{instruction?.titel}}</h2>
    </mat-card>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{instruction?.shortDescription}}
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <mat-horizontal-stepper #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>check</mat-icon>
          </ng-template>
          <mat-step *ngFor="let step of instruction?.steps">
            <ng-template matStepLabel>{{step.titel}}</ng-template>  
  
            <mat-accordion>
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{step.shortDescription}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-accordion *ngFor="let childStep of step.instructionChildSteps">
                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{childStep.titel}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                      <mat-grid-list cols="2" rowHeight="4:1">
                        <mat-grid-tile>
                          <div *ngIf="hasResource(childStep)">
                            <resource file={{resourceContent[getIdOfResourceContent(childStep.resource)]}} [type]="childStep.resource.resourceType"></resource>
                          </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                          <div>
                            <p>{{childStep.description}} </p>
                          </div>
                        </mat-grid-tile>
                      </mat-grid-list>
                    </p>
                  </mat-expansion-panel>
                </mat-accordion>
  
              </mat-expansion-panel>
            </mat-accordion>
  
          </mat-step>
        </mat-horizontal-stepper>
      </mat-expansion-panel>
    </mat-accordion>  
  </div>