<mat-card>
    <h2>Neuer Arbeitsschritt für {{instructionTitel}}</h2>
    <div class="example-container">

        <mat-form-field>
            <input #stepName matInput type="text" placeholder="Arbeitsschritt Titel">
        </mat-form-field>
        <mat-form-field>
            <textarea #stepDescription matInput type="password" placeholder="Kurze Beschreibung des Arbeitsschrittes. Gib hier eine kurze Anleitung des kompletten Arbeitsschrittes."></textarea>
        </mat-form-field>
        <div *ngFor="let s of steps">
            <button *ngIf="s" (click)="removeStep()" mat-button class="removeButton" matTooltip="Detail-Arbeitsschritt entfernen">
                <i class="material-icons">
                    delete
                </i>
            </button>
            <instruction-child-step-create #instructionStepChildCreate *ngIf="s" [instructionStepTitel]="getStepTitel()"></instruction-child-step-create>
        </div>
      <!--  <p>Unterteile den Arbeitsschritt in kleinere Einheiten und beschreibe ihn im Detail.
        </p>-->
        <button (click)="loadChildStepCreate()" mat-button class="addStep">
            Unterteile den Arbeitsschritt in kleinere Einheiten und beschreibe ihn im Detail.
        </button>
    </div>

</mat-card>