<mat-card>
    <h2>Neuer Arbeitsschritt für {{tutorialTitel}}</h2>
    <div class="example-container">

        <mat-form-field>
            <input #stepName matInput type="text" placeholder="Arbeitsschritt Titel">
        </mat-form-field>
        <mat-form-field>
            <textarea #stepDescription matInput type="password" placeholder="Kurze Beschreibung des Arbeitsschrittes. Gib hier eine kurze Anleitung des kompletten Arbeitsschrittes."></textarea>
        </mat-form-field>
        <div *ngFor="let s of steps">
            <tutorial-child-step-create #tutorialStepChildCreate *ngIf="s" [tutorialStepTitel]="getStepTitel()"></tutorial-child-step-create>
        </div>
        <p>Für ein gutes Tutorial macht es Sinn, den Arbeittschritt in kleinere Schritte zu unterteilen um ihn im Detail zu
            beschreiben.</p>
        <button (click)="loadChildStepCreate()" mat-button>Neuen Detail-Arbeitsschritt hinzufügen</button>
    </div>
</mat-card>